~/.config/spicetify/Backup/*
~/.config/spicetify/Themes/*
~/.config/spicetify/Extracted/*
~/.config/spicetify/CustomApps/*
~/.config/spicetify/Extensions/*

~/.config/zsh/.zcompdump*
~/.config/zsh/.zsh_history
~/.config/zsh/.zshrc.old
~/.config/zsh/.p10k.zsh
~/.config/tmux/plugins/

~/.config/lazygit/state.yml
