~/.config/spicetify/Backup/*
~/.config/spicetify/Themes/*
~/.config/spicetify/Extracted/*
~/.config/spicetify/CustomApps/*
~/.config/spicetify/Extensions/*

~/.config/zsh/.zcompdump*
~/.config/tmux/plugins/
